
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example input  </title>
    
</head>
<body>
    <form action="/#" method="POST">
        <label for="input">Username</label>
        <input id="input" type="text" name="username">
        <label for="pass">Password</label>
        <input id="pass" type="password" name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>